@font-face {
  font-family: 'AudiType';
  src: url('https://thecooperativeagency.github.io/fonts/fonts/audi/AudiTypeVF.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
